.main_grid_container {
  grid-area: main;
  & > div {
    background-color: var(--bg);
    border: 1px solid hsl(from var(--border-muted) h s l / 50%);
    border-top: 1px solid hsl(from var(--border) h s l / 50%);
    border-radius: 0.618rem;
    filter: drop-shadow(0px 5px 6px var(--bg));
    padding: 1rem;
    height: auto;
  }
  & .remove_button{
      position: absolute;
      top: 5px;
      right: 5px;
      color: white;
      border: none;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      cursor: pointer;
      z-index: 10;
      & .icon-remove{
          width: 16px;
          height: 16px;
          background-color: oklch(60% 0.2 25);
          fill: oklch(100% 0 270);
          transition: all 0.1s ease-in;
          margin: 3px;
      }
  }
}