.main_grid_container{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: .5rem;
    & > div{
        background-color: var(--bg);
        border: 1px solid hsl(from var(--border-muted) h s l / 50%);
        border-top: 1px solid hsl(from var(--border) h s l / 50%);
        border-radius: .618rem;
        filter: drop-shadow(0px 5px 6px var(--bg));
        padding: 1rem;
        height: auto;
    }
}