@import "tailwindcss";

:root{
    --bg-dark: oklch(0.1 0 20);
    --bg: oklch(0.15 0 20);
    --bg-light: oklch(0.2 0 20);
    --bg-light-2: oklch(30% 0.00002 271.152);
    --text: oklch(0.96 0 20);
    --text-muted: oklch(0.76 0 20);
    --highlight: oklch(0.5 0 20);
    --border: oklch(0.4 0 20);
    --border-muted: oklch(0.3 0 20);
    --primary: oklch(0.6779 0.37 239.82);
}

body{
    background-color: var(--bg-dark);
    color: var(--text-muted);
    padding: 1rem;
    width: clamp(1000px, 100vw, 1400px);
    margin: 1rem auto 1rem auto;
}
.title{
    color: var(--primary);
}
body.light{
    --bg-dark: oklch(0.92 0 20);
    --bg: oklch(0.96 0 20);
    --bg-light: oklch(1 0 20);
    --text: oklch(0.15 0 20);
    --text-muted: oklch(0.4 0 20);
    --highlight: oklch(1 0 20);
    --border: oklch(0.6 0 20);
    --border-muted: oklch(0.7 0 20);
}

#app {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "aside functions"
    "aside main";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 50px 1fr;
  gap: 1rem;
  height: 100svh;
}

.default-format{
    background-color: var(--bg);
    border: 1px solid hsl(from var(--border-muted) h s l / 50%);
    border-top: 1px solid hsl(from var(--border) h s l / 50%);
    border-radius: .618rem;
    filter: drop-shadow(0px 5px 6px var(--bg));
    padding: 1rem;
}

.react-grid-item.react-grid-placeholder {
  background: hsl(from var(--text-muted) h s 20% / 100%);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}