.color-display {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: auto;
  justify-content: start;
  align-items: center;
  width: 100%;
  & .color-display-box-container {
    & .color-display-box-overlay,
    .color-display-box {
      padding: 4px;
    }
    & .color-display-box-overlay {
      position: absolute;
      top: 4px;
      left: 0;
      z-index: 1;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid white;
      cursor: pointer;
    }
    & .color-display-box {
      position: relative;
      z-index: 2;
      width: 18px;
      aspect-ratio: 1/1;
      height: auto;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0;
    }
  }
  & .color-text-input {
    width: 100%;
    height: inherit;
    background-color: transparent;
    border: 1px solid red;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: 1px solid hsl(from var(--border-muted) h s l / 50%);
    outline: 1px solid transparent;
    border-radius: 5rem;
    transition: all 0.1s ease-in;
    &:focus {
      border: 1px solid hsl(from var(--text) h s 50 / 100%);
      outline: 1px solid hsl(from var(--text) h s 50 / 100%);
      filter: drop-shadow(3px 3px 6px hsl(from var(--text) h s l / 15%));
    }
  }
}
.icon-delete {
  width: 16px;
  height: 16px;
  fill: hsl(from var(--border-muted) h s 40 / 100%);
  transition: all 0.1s ease-in;
  &:hover {
    fill: oklch(60% 0.2 25);
  }
}
.icon-copy {
  width: 16px;
  height: 16px;
  fill: hsl(from var(--border-muted) h s 40 / 100%);
  transition: all 0.1s ease-in;
  &:hover {
    fill: oklch(89.755% 0.0001 271.152);
  }
}
