.color-display{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: auto;
    justify-content: start;
    align-items: center;
    width: 100%;
    & .color-display-box-container{
        & .color-display-box-overlay,.color-display-box{
            padding: 4px;
        }
        & .color-display-box-overlay{
            position: absolute;
            top: 4px;
            left: 0;
            z-index: 1;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: 1px solid white;
            cursor: pointer;
        }           
        & .color-display-box{
            position: relative;
            z-index: 2;
            width: 18px;
            aspect-ratio: 1/1;
            height: auto;
            border-radius: 50%;
            cursor: pointer;
            opacity: 0;
        }
    }
    & .color-text-input{
        width: 100%;
        height: inherit;
        background-color: transparent;
        border: 1px solid red;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        outline: none;
        border: 1px solid hsl(from var(--border-muted) h s l / 50%);
        border-radius: 5rem;
    }
}
.icon{
    width: 16px;
    height: 16px;
    fill: white;
    transition: all 0.1s ease-in;
    &:hover{
        fill: oklch(60% 0.20 25);
    }
}